/*
 * footer
 */

footer {
	background-color: #2c3e50;
	padding: 2em;
	width: 100%;
	text-align: center;
}

footer ul {
	margin: 0 auto;
	display: inline-block;
}

footer li {
	display: inline-block;
	margin: 0 0.5em;
	font-size: 14px;
}

footer a {
	text-decoration: none;
	color: #fff;
	padding: 1em;
}
