/*
 * headline
 */

.headline {
	display: grid;
}

.headline__figure {
	width: 100%;
}

.headline__figure img {
	width: 100%;
}

.headline__figure figcaption {
	text-align: center;
	color: #666666;
	font-size: 13px;
	font-weight: 400;
	margin-top: 8px;
}

.headline__content {
	width: 100%;
	margin-top: 50px;
}

.headline__title {
	font-size: 32px;
	font-weight: 500;
}

.headline__description {
	font-size: 12px;
	margin-top: 12px;
}

.headline__button {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-top: 24px;
	cursor: pointer;
	padding: 8px 24px;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #2c3e50;
	transition: opacity 0.3s;
	min-height: 44px;
}

.headline__button:hover {
	opacity: 0.8;
}

@media screen and (min-width: 426px) {
	.headline__description {
		font-size: 14px;
	}
}

@media screen and (min-width: 769px) {
	.headline {
		grid-template-rows: 1fr;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 24px;
	}

	.headline__content {
		margin-top: 0;
	}
}

@media screen and (min-width: 1025px) {
	.headline__description {
		font-size: 16px;
	}
}
