/*
 * Header
 *
 */

.header {
	min-height: 56px;
	transition: min-height 0.3s;
}

.header__inner {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.header__title {
	font-weight: 300;
	font-size: 36px;
	margin: 0.5em 0.25em;
	display: inline-block;
	color: #212121;
}

/*
 * Top level navigation
 */

.nav {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.nav__list {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}

.nav__item {
	box-sizing: border-box;
	display: inline-block;
	width: 24%;
	text-align: center;
	line-height: 24px;
	padding: 2em 0em;
	text-transform: uppercase;
}

.nav__list a {
	text-decoration: none;
	color: #616161;
	padding: 2em 1em;
}

.nav__list a:hover {
	text-decoration: underline;
	color: #000;
}

#nav-toggle {
	font-size: 24px;
	text-decoration: none;
	color: rgb(30, 30, 30);
	position: absolute;
	top: 12px;
	left: 8px;
	padding: 10px;
}

.nav-mobile__list {
	position: fixed;
	top: 0;
	width: 250px;
	height: 100%;
	transform: translate(-250px, 0);
	transition: transform 0.3s ease-in-out;
	background-color: #2c3e50;
	list-style-type: none;
}

.nav-mobile__list.open {
	transform: translate(0, 0);
}

.nav-mobile__item {
	padding: 2em 0 0 1.5em;
}

.nav-mobile__item a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 12px;
}

@media screen and (max-width: 426px) {
	.nav__list {
		display: none;
	}
}

@media screen and (min-width: 426px) {
	#nav-toggle,
	.nav-mobile__list {
		display: none;
	}
}
