/*
 * latest
 */

.latest {
	width: 100%;
	margin: 50px auto;
	text-align: center;
}

.latest__label {
	font-size: 32px;
	font-weight: lighter;
}

.latest__label::after {
	content: '';
	margin-top: 16px;
	display: block;
	border-bottom: 1px solid #eeeeee;
}
