* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #424242;
	position: relative;
}

@import './header.css';

@import './jumbotron.css';

/*
 * main
 */

main {
	width: 100%;
	margin: 0 auto;
}

/*
 * content
 */

.content {
	padding: 50px 24px 24px 24px;
}

@import './headline.css';

@import './latest.css';

@import './post.css';

@import './footer.css';

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background-color: #314256;
	color: white;
	padding: 10px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}
