/*
 * post
 */

.posts {
	margin: 32px auto auto;
	text-align: left;
	display: grid;
	grid-template-columns: 1fr;
}

/*
 * post item
 */

.post-item {
	margin: 16px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.post-item__content {
	padding: 18px;
}

.post-item__thumbnail {
	width: 100%;
}

.post-item__date {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
}

.post-item__date__author {
	color: red;
	text-decoration: none;
}

.post-item__title {
	font-weight: 500;
	font-size: 18px;
	margin-top: 16px;
	transition: 0.3s opacity;
}

.post-item__title:hover {
	opacity: 0.5;
}

.post-item__title a {
	text-decoration: none;
	color: inherit;
}

.post-item__description {
	margin-top: 16px;
	font-size: 12px;
	line-height: 1.5em;
}

@media screen and (min-width: 426px) {
	.post-item__description {
		font-size: 14px;
	}
}

@media screen and (min-width: 601px) {
	.posts {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1025px) {
	.posts {
		grid-template-columns: repeat(3, 1fr);
	}
}
